@page "/PVP"
@inject IJSRuntime JS;

    <div class="text-light">

        <div class="d-flex justify-content-around mt-4 game-upper-info">
            <div style="text-align: center;">   
                <h4 class="player-name">@game.st.playerStatuses[0].player.Name</h4>
                <div class = "life-charms"> 
                    <p class="life-button bg-danger card-points">Vida : @game.st.playerStatuses[0].life</p>
                    <p class="charms-button text-light bg-gradient bg-dark">Charms: @game.st.playerStatuses[0].charms</p>
                </div>
            </div>

            @* <div class = "Changes-Ocurred">
                <div id="message-enemy" class="list-group position-absolute opacity-75" style="display: none;"> 
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Perdido 14 puntos de vida</a> 
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Perdido 4 Charms</a> 
                </div>
            </div> *@

            <div style="text-align: center;">
                <h4 class="player-name">@game.st.playerStatuses[1].player.Name</h4>
                <div class = "life-charms"> 
                    <p class="life-button bg-danger card-points">Vida : @game.st.playerStatuses[1].life</p>
                    <p class="charms-button text-light bg-gradient bg-dark">Charms: @game.st.playerStatuses[1].charms</p>
                </div>
            </div>
        </div>
        
            <div id="show-winner" class="text-black text-center ShowWinner">
                <p>@game.GetWinner()</p>
                <a class = "GoToMainMenu" href="/StartMenu"> Volver al menu principal.</a>
                <button class = "ReloadGame" type="submit" @onclick="RefreshPage"> Volver a jugar</button>
            </div>
            
        

        <div id = "error-message" class = "text-black text-center ErrorMessage">
            <p> Jugada Incorrecta </p>
        </div>

        <div class="row players-field">
            <div class="col-5">
                <img src="@game.st.playerStatuses[0].player.UrlPhoto" alt="" class="img-fluid img-player">

            </div>
            <div class="col-5">
                <img src="@game.st.playerStatuses[1].player.UrlPhoto" alt="" class="img-fluid img-player">
                <img src="images/black.gif" id="effect-enemy" class="img-fluid z-index-1">
            </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5 Cards-and-Buttons">
            <div>
                <button class="Cards-btns" id="Surrender-btn" @onclick="Surrender">Rendirse</button>
            </div>

            <div class="AllCardsStyle">  
                @foreach (var item in game.st.playerStatuses[0].playerHand)
                {
                    <div @onclick="@(e => Play(@item))">

                        <a href="PVP" class="card card--square">
                            <div class="card__orb">
                                <img src="images/card-elements/hand-orb-red.png" alt="" class="card__orb__image">
                                <p class="card__orb__value">@item.Charms</p>
                            </div>
                            <div class="card__banner">
                                <img src="" alt="" class="card__banner">
                                    <div class="card__banner__text">@item.Name</div>
                            </div>
                            <div class="card__image">
                                <img src="images/card-elements/hand-frame-square-blue.png" alt="" class="card__image__border">
                                <svg class="card__image__svg" xmlns="" xmlns:xlink="" x="0px" y="0px" viewBox="0 0 260 222.2" style="enable-background:new 0 0 260 222.2;" xml:space="preserve">
                                    <clipPath id="mask-square">
                                    <polygon points="0,0 0,158.7 15.3,172.7 239.3,172.7 251.7,160.3 251.7,0 "></polygon>
                                    </clipPath>
                                    <image clip-path="url(#mask-square)" height="100%" width="100%" href=@item.UrlPhoto></image>   
                                </svg>
                            </div>
                            <div class="card__description" style = "z-index: 1">
                                <div class="card__description__text">
                                    @item.Text
                                </div>
                            </div>
                            <img src="images/card-elements/hand-card-back-red.png" alt="" class="card__background">
                        </a>
                    </div>
                }
                @if(game.st.playerStatuses[0].playerHand.Count == 0)
                {
                    <div class="cursor mt-1">
                        <div class="card my-card">
                            <img src="" class="" alt="">
                                <h3>No hay cartas</h3>
                            <div class="card-body p-2">
                                <p class="m-0 p-0 card-text">No hay cartas</p> 
                            </div>
                        </div>
                    </div>
                } 
            </div>
            <div>
            <button id = "EndTurn-btn" class="Cards-btns" @onclick="@(e => EndTurn())">Fin del Turno</button>
        </div>
        
    </div>

    
@{
    Background();
}
@code{
    
    /// <summary>
    /// El 0 es Humano vs Humano
    /// El 1 es Humano vs IA
    /// El 2 es IA vs IA.
    /// </summary>
    Game game = new Game(0);

    private async void Background() {
        await JS.InvokeVoidAsync("GameEnvironmentBG");
    }
    private async void RefreshPage() {
        await JS.InvokeVoidAsync("RefreshPage");
    }
    private async void ShowWinner() {
        await JS.InvokeVoidAsync("WinnerMessage");
    }
    private async void Surrender() {
        game.st.playerStatuses[0].life = 0;
        ShowWinner();
    }
    private async void Play(Card cd) {
        
        if (Game.IsValid(cd, game.st.playerStatuses[0])) {
            game.Input(cd);
            Effect();

        }
        else ErrorMessage();
        if (game.GameOver())
            ShowWinner();
    }
    private async void EndTurn() {
        game.GetEnumerator().MoveNext();
        if (game.GameOver())
            ShowWinner();        
    }
    private async void Effect() {
        await JS.InvokeVoidAsync("ExecuteEffect");
    }    
    private async void ErrorMessage() {
        await JS.InvokeVoidAsync("ErrorMessage");
    }
}
